<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHAMPIONSHIP</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/lux/bootstrap.min.css" rel="stylesheet"
          type="text/css">
</head>
<body>
<div class="container mt-4 text-center">
    <h1 class="mb-4">CHAMPIONSHIP</h1>
    <button class="btn btn-primary me-2" onclick="redirectToGames()" type="button">SHOW GAMES</button>
    <button class="btn btn-primary me-2" onclick="redirectToTeams()" type="button">SHOW TEAMS</button>
    <button class="btn btn-primary" onclick="redirectToPlayers()" type="button">SHOW PLAYERS</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="util.js"></script>
</body>
</html>
